body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.card {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    overflow: hidden;
    animation: slide-in 1s ease-out; /* Ajoute une animation de glissement à la carte */
}

.card-content {
    padding: 20px;
}

.card-header {
    background-color: #060044;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.card-header h1 {
    margin: 0;
}

.card-body {
    padding: 20px;
}

@keyframes slide-in {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
